 <div class="container-fluid">
      <div class="row">
        <div class="bar">

          <ul style="text-align: right;">
            <li>
                <a style="
                margin-right: 27px;
                margin-top: 10px;
                margin-bottom: 10px;">{{currentUser.name}}</a>
                <ul class="dropdown">
                    <li><a (click)="logout()">Log out</a></li>
                </ul>
            </li>
         </ul>
          <div style="text-align: left;
          margin-left: 20px;
          margin-top: 10px;
          margin-bottom: 10px;">Total number of requests {{count}}</div>
          </div>








  <form name="form" (ngSubmit)="save()" #f="ngForm" novalidate>
    <div class="form-group" style="margin-top: 100px;;
    /* align-items: center; */
    /* margin: 0px auto; */
    /* width: 100%; */
    margin-left: 420px;
    display: inline-block;
    text-align: center;">
      <div style="font-size: x-large;
      color: #380f0f;
      font-style: italic;margin-bottom: 7px;">
      <label for="shortName">Short Name</label>
      </div>
      <div style="">
        <input type="text" class="form-control" style = "     width: 500px;
        height: 30px;
        border-width: 1px;
        font-size: 18px;
        border-color: #9da5a5;"name="shortName" [(ngModel)]="item.shortName" #shortName="ngModel" required />

      </div>
      </div>
    <div class="form-group" style="    margin-top: 21px;
    /* align-items: center; */
    /* margin: 0px auto; */
    /* width: 100%; */
    margin-left: 420px;
    display: inline-block;
    text-align: center;">
      <div style="font-size: x-large;
      color: #380f0f;
      font-style: italic;margin-bottom: 7px;">
        <label for="url">Your Domain URL</label>
      </div>

      <div>
        <input type="text" class="form-control" style = "    width: 500px;
        height: 30px;
        border-width: 1px;
        font-size: 18px;
        border-color: #9da5a5;" name="url" [(ngModel)]="item.url" #lastName="ngModel" required />
      </div>

    </div>

<div class="form-group" style="    margin-top: 21px;
margin-left: 843px;">
    <button class="btn btn-primary" style="    background: rgb(198, 197, 214);
    border-radius: 11px;
    width: 83px;
    height: 27px;
    font-style: italic;
    font-size: 15px;
    cursor: pointer;">Submit</button>
    </div>
  </form>
  <div>
      <table class="table-responsive" style="
      margin-top: 100px;">
          <thead style="    border: 1px solid;
          background: rgb(198, 197, 214);">
            <tr>
              <th style="width:150px">Id</th>
              <th style="width:450px">URL</th>
              <th style="width:350px">Short Name</th>
              <th style="width:150px">t-clicks</th>
              <th style="width:150px">Edit</th>
              <th style="width:150px">Delete</th>
            </tr>
        </thead>

    <tr *ngFor="let x of items"  style="    background: #f0f0f1;">
    <td style="width:150px;    text-align: center;">
        {{x.id}}
      </td>
      <td style="width:450px;    text-align: center;">
{{x.url}}
      </td>
      <td style="width:150px;    text-align: center;">
          {{x.shortname}}
                </td>
                <td style="width:150px;    text-align: center;">
                    {{x.tClicks}}
                          </td>
                          <td class="edit" style="cursor: pointer" (click)="edit()" >
                            </td>
                            <td class="delete" style="cursor: pointer" (click)="delete()" >
                            </td>

    </tr>
    </table>
  </div>
  </div>
  </div>
